@import '../common.scss';

.root {
  display: inline-block;
}

.date-picker-calendar {
  z-index: 1;
  :global .DayPicker {
    box-shadow: $Shadow30;
    border-radius: 8px;
  }
}

.icon {
  margin: 0 6px;
  color: $B10;
  display: flex;
}
